<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
</head>
    <link rel="stylesheet" href="webjars/bootstrap/3.0.0/css/bootstrap.css">
    <script src="webjars/jquery/3.0.0/jquery.js"></script>
    <script src="webjars/bootstrap/3.0.0/js/bootstrap.js"></script>
<body>
    <ul class="nav nav-pills">
        <li role="presentation" class="active"><a href="#">Home</a></li>
        <li role="presentation"><a href="#">Profile</a></li>
        <li role="presentation"><a href="#">Messages</a></li>
    </ul>
</body>
</html>